* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background-color: black;
    color: beige;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    
}
header {
    text-align: center;
}
main {
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
a {
    color: aquamarine;
}
img {
    padding: 20px;
}
.footer {
float: right;
}